body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(165, 222, 255);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
    -webkit-transform: none;
    transform: none;
}

@media screen and (orientation: portrait) {
    video {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (orientation: landscape) {
    video {
        width: 100vw;
        height: 100vh;
    }
}
